
<div class="card bg-light mb-3" >
  <div class="card-header">Detalles de partidos</div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Local</th>
          <th>Visitante</th>
          <th>Ficha del Partido</th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let partido of partidos">
        <td>{{ partido.local.name}}</td>
        <td>{{ partido.visitor.name}}</td>
        <td  *ngIf="partido.played else elseBlock">
            <button type="button" name="button" [routerLink]="['/partido/detalle', partido.id]"  class="btn btn-primary">Ficha del partido</button>
        </td>
        <ng-template #elseBlock>
            <button type="button" name="button" disabled="{{partido.played}}"  class="btn btn-default">Partido no jugado</button>
        </ng-template>
      </tr>
    </tbody>
    </table>
  </div>
</div>
